body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}



.NavBar {
  z-index: 100;
  max-height: 5rem;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row; /* Ensure children are in a row */
  justify-content: space-between;
  width: 100vw;
  padding: 0;
  
  .NavItem {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: auto;
    
    .NavButton {
      color: white;
      transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
      &.active {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Add a white glow */
        transform: scale(1.25); /* Slightly scale up */
        transform-origin: center; /* Ensure scaling is centered */
      }
    }
  }
}

.dateLabel {
  color: rgba(0, 0, 0, 0.5);
}

.LogTime {
  border: 1px solid rgba(128, 128, 128, 1); /* Changed to a gray color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Changed to a gray color */
  margin-bottom: 1rem; /* Added margin */
  padding: 1rem;
  transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
  &:hover {
    border-color: rgba(0, 0, 0, 1); /* Change border color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Change box shadow on hover */
  }
}


.ViewExperience {
  background-color: #ffffff; /* Light background color */
  border-radius: 5px;

  .ratingScale {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem; /* Add margin to the bottom */
    .ratingButton {
      background-color: #ffffff; /* Light background color */
      border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
      border-radius: 5px;
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: rgb(52, 52, 52);
      transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
      &:hover {
        background-color: #b4b4b4; /* Darken the background color on hover */
        color: rgb(0, 0, 0);
      }
      &.selected {
        background-color: #ffffff; /* Green color for active state */
        color: rgb(0, 0, 0); /* White text color for active state */
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add a green glow */
        transform: scale(1.15); /* Slightly scale up for active state */
      }
    }
  }
}