body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}

.NavBar {
  z-index: 100;
  max-height: 5rem;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row; /* Ensure children are in a row */
  justify-content: space-between;
  width: 100vw;
  padding: 0;
}
.NavBar .NavItem {
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: auto;
}
.NavBar .NavItem .NavButton {
  color: white;
  transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
}
.NavBar .NavItem .NavButton.active {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Add a white glow */
  transform: scale(1.25); /* Slightly scale up */
  transform-origin: center; /* Ensure scaling is centered */
}

.dateLabel {
  color: rgba(0, 0, 0, 0.5);
}

.LogTime {
  border: 1px solid rgb(128, 128, 128); /* Changed to a gray color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Changed to a gray color */
  margin-bottom: 1rem; /* Added margin */
  padding: 1rem;
  transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
}
.LogTime:hover {
  border-color: rgb(0, 0, 0); /* Change border color on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Change box shadow on hover */
}

.ViewExperience {
  background-color: #f0f0f0; /* Slightly darker background color for differentiation */
  border-radius: 8px; /* Increased border radius for a more rounded look */
  padding: 1rem; /* Added padding for spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
  margin-bottom: 1rem; /* Added margin at the bottom */
}
.ViewExperience .experienceText {
  color: rgba(0, 0, 0, 0.8); /* Darker text color */
  font-size: 1.1rem; /* Larger font size */
  margin-bottom: 1rem; /* Added margin */
  line-height: 1.6; /* Increase line height for readability */
  padding: 1rem; /* Add padding for a more spacious look */
  background-color: #f9f9f9; /* Light background color for a paper-like feel */
  border-left: 4px solid #ccc; /* Add a subtle left border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.ViewExperience .experienceText::after {
  content: '"';
}
.ViewExperience .experienceText::before {
  content: '"';
}
.ViewExperience .ratingScale {
  padding-top: 1rem; /* Added margin at the top */
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle divider line */
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
}
.ViewExperience .ratingScale .ratingButtonWrapper {
  justify-content: space-between;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
.ViewExperience .ratingScale .ratingButtonWrapper .ratingButton {
  background-color: #ffffff; /* Light background color */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  border-radius: 5px;
  margin-right: 0.25rem; /* Add margin to the right */
  margin-left: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: rgb(52, 52, 52);
  transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
}
.ViewExperience .ratingScale .ratingButtonWrapper .ratingButton:hover {
  background-color: #b4b4b4; /* Darken the background color on hover */
  color: rgb(0, 0, 0);
}
.ViewExperience .ratingScale .ratingButtonWrapper .ratingButton.selected {
  background-color: #ffffff; /* Green color for active state */
  color: rgb(0, 0, 0); /* White text color for active state */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add a green glow */
  transform: scale(1.15); /* Slightly scale up for active state */
}
.ViewExperience .ratingScale p.ratingScaleTitle {
  margin: auto;
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.6); /* Muted text color */
  font-size: 0.9rem; /* Slightly smaller font size */
}
.ViewExperience .JournalEntry p.notesTitle {
  padding-top: 1rem; /* Added margin at the top */
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle divider line */
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.6); /* Muted text color */
  font-size: 0.9rem; /* Slightly smaller font size */
}/*# sourceMappingURL=index.css.map */