body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.App {
  height: 100vh;
  width: 100vw;
}

.NavBar {
  z-index: 100;
  max-height: 5rem;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row; /* Ensure children are in a row */
  justify-content: space-between;
  
  
  .NavItem {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    text-align: center;
    justify-content: center;
    a {
      text-decoration: none;
     
    }
    width: calc(100vw / 4)
  }
}

.dateLabel {
  color: rgba(0, 0, 0, 0.5);
  font-size: medium;
}

.LogTime {
  border: 1px solid rgba(128, 128, 128, 1); /* Changed to a gray color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Changed to a gray color */
  margin-bottom: 1rem; /* Added margin */
  padding: 1rem;
  transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
  width: 100%;
  &:hover {
    border-color: rgba(0, 0, 0, 1); /* Change border color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Change box shadow on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
  }
}


.ViewExperience {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: large; /* Reduce the font size */

  .ratingScale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem; /* Add margin to the bottom */
    .ratingButton {
      background-color: #ffffff; /* Light background color */
      border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
      border-radius: 5px;
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: rgb(62, 62, 62);
      transition: all 0.3s ease-in-out; /* Added transition for smooth animation */
      &:hover {
        background-color: #1d1d1d; /* Darken the background color on hover */
      }
      &.selected {
        background-color: #28a745; /* Green color for active state */
        color: white; /* White text color for active state */
        box-shadow: 0 0 10px rgba(40, 167, 69, 0.5); /* Add a green glow */
        transform: scale(1.05); /* Slightly scale up for active state */
      }
    }
  }
}